var regYear = getRegExp("(y+)", "i");

var filters = {
  plusXing:function(str, cha) {

    var xing = '';
    for (var i = 0; i < 3; i++) {
      xing += cha;
    }
    return str.substring(0, 1) + xing + str.substring(str.length - 1);
  },
  //价格转换
  toFix: function(value) {
    if (typeof value === 'number' && !isNaN(value)) {
      num = parseFloat(value);
      var SUM = "";
      var sumFol = num.toFixed(2);
      var sumtotalStr = sumFol;
      var sumEndStr = sumtotalStr.slice(sumtotalStr.indexOf("."));
      var sumStr = sumtotalStr.slice(0, sumtotalStr.indexOf("."));
      var count = 0;
      if (sumStr.toString().length % 3 == 0) {
        count = sumStr.toString().length / 3;
      } else {
        count = (sumStr.toString().length - sumStr.toString().length % 3) / 3;
      }
      var text = "";
      for (var i = 0; i < count; i++) {
        if ((count - i - 1) * 3 + sumStr.toString().length % 3 != 0) {
          text = "," + sumStr.slice((count - i - 1) * 3 + sumStr.toString().length % 3, (count - i - 1) * 3 + sumStr.toString().length % 3 + 3) + text;
        } else {
          text = sumStr.slice((count - i - 1) * 3 + sumStr.toString().length % 3, (count - i - 1) * 3 + sumStr.toString().length % 3 + 3) + text;
        }
      }
      SUM = sumStr.slice(0, sumStr.toString().length % 3) + text + sumEndStr;
      return SUM;
      return sumFol;
    } else {
      return value
    }
  },
  //wxml图片显示
  imgurl: function(v) {
    return '//image-shop.dxracer.com.cn/' + v
  },

  /**
   * 时间戳转化为年 月 日 时 分 秒
   * number: 传入时间戳
   * format：返回格式，支持自定义，但参数必须与formateArr里保持一致
   */
  formatTime :function(timestamp, format) {
   
    if (!format) {
      format = "yyyy-MM-dd hh:mm:ss";
    }
    timestamp = parseInt(timestamp);
    var realDate = getDate(timestamp);

    function timeFormat(num) {
      return num < 10 ? '0' + num : num;
    }
    var date = [
      ["M+", timeFormat(realDate.getMonth() + 1)],
      ["d+", timeFormat(realDate.getDate())],
      ["h+", timeFormat(realDate.getHours())],
      ["m+", timeFormat(realDate.getMinutes())],
      ["s+", timeFormat(realDate.getSeconds())],
      ["q+", Math.floor((realDate.getMonth() + 3) / 3)],
      ["S+", realDate.getMilliseconds()],
    ];
    var reg1 = regYear.exec(format);
    if (reg1) {
      format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
    }
    for (var i = 0; i < date.length; i++) {
      var k = date[i][0];
      var v = date[i][1];
      var reg2 = getRegExp("(" + k + ")").exec(format);
      if (reg2) {
        format = format.replace(reg2[1], reg2[1].length == 1 ? v : ("00" + v).substring(("" + v).length));
      }
    }
    return format;
  }
}
module.exports = {
  toFix: filters.toFix,
  imgurl: filters.imgurl,
  formatTime: filters.formatTime,
  plusXing: filters.plusXing
}